<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercedes</title>
<link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!--WebGL back ground-->
    <canvas id="bg"></canvas>

    <!--cursor spot light-->
    <div class="cursor"></div>

    <nav class="navbar">
        <div class="logo">Mercedes</div>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Models</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Experiance</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
    <section class="hero">
        <h1 class="title3d">Experience the Ultimate Luxury with Mercedes-Benz</h1>
        <p>Discover the perfect blend of performance, innovation, and elegance in every Mercedes-Benz vehicle.</p>
        <button class="magnetic">Explore</button>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>

    <script src="js/three-bg.js"></script>
    <script src="js/gsap.js"></script>
    <script src="js/cursor.js"></script>
    <script src="js/magnetic.js"></script>

</body>
</html>